.success {
  stroke: #4CAE4C;
  stroke-width: 1;
  fill: #5CB85C;
}

.default {
  stroke: #cccccc;
  stroke-width: 1;
  fill: #ffffff;
}

line.wheel-line {
  stroke: #333;
}

text.wheel-text {
  fill: #333;
}

@media (prefers-color-scheme: dark) {
  .default {
    stroke: #222;
    stroke-width: 1;
    fill: black;
  }
  line.wheel-line {
    stroke: #ccc;
  }
  text.wheel-text {
    fill: #ccc;
  }

}
